<div class="publications">
  {% bibliography --query @*[selected=true]* --group_by none --sort_by year --order descending%}
  {% comment %} {% bibliography --sort_by year --order ascending%} {% endcomment %}
</div>
